<div id="compare">
    <form method="post" action="{{ route('compare', ['name', product]) }}">
        <button type="submit" class="btn btn-large btn-danger pull-left hidden">Сравнить продукты</button>
        <ul class="breadcrumb">
        </ul>
    </form>
    <hr class="soft"/>
    <div id="myTab" class="pull-right">
        <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
        <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
    </div>
</div>
<br class="clr"/>