<div class="alert alert-default" align="center">
    <div id="fon"></div>
    <div class="sort btn-group " align="center">
        <label >
            <h4 style="color:#000;">СОРТИРОВАТЬ ПО</h4>
        </label>
        <button type="button" class="btn btn-default span2" id="nameA">Имени А - Я</button>
        <button type="button" class="btn btn-default span2" id="nameD">Имени Я - А</button>
        <button type="button" class="btn btn-default span2" id="priceA">По возрастанию цены</button>
        <button type="button" class="btn btn-default span2" id="priceD">По убыванию цены</button>
    </div>
</div>